@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow: hidden;
  /* font-family: Arial, Helvetica, sans-serif; */
}


#root{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color:#1F2937;
}

#dragdiv {
  }
  
  #dragdivheader {
    cursor: move;
    color: #fff;
  }
  /* #menu{
    min-height: 350px;
  } */

  .resizer {
    cursor: nwse-resize;
  }
  #animenu{
    min-width: 450px;
  }