@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color:#1F2937;
}

#dragdiv {
    position: absolute;
    min-width: 25%;
  }
  
  #dragdivheader {
    cursor: move;
    color: #fff;
  }
  /* #menu{
    min-height: 350px;
  } */

  .resizers{
    
  }
  .resizable {
  }
  .resizer{
    
  }
  .resizer.bottom-right {
    cursor: nwse-resize;
    right: -5px;
    bottom: -5px;
  }